*{
    margin: 0 auto;
    padding: 0;
}    

body{
    width: 300px;
}  

h1{
    font-size: 36px;
    padding-left: 8px;
    margin-bottom: 16px;
    color: #555;
    font-weight: 400;
}
img{
        float: left;
    }
h2{
    color: #e63c35;
}

p{
    margin-bottom: 16px;
}

a{
    margin-top: 16px;
    font-size: 16px;
    padding: 8px 32px;
    background: #3B5998;
    color: #f9f9f9;
    border: 2px solid #3B5998;
    border-radius: 5px;
    text-decoration: none;
}

a:hover{
    background: #f9f9f9;
    color: #3B5998;
}
